* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

body {
    background-color: black;
    padding: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr;    
    grid-template-areas:
        "header header"
        "nav nav"
        "section aside"
        "article aside"
        "footer footer";
        height: 100vh;
}

header {
    grid-area: header;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    grid-area: nav;
    background-color: rgba(110, 168, 255, 0.925);
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    grid-area: section;
    background-color: rgba(54, 190, 253, 0.863);
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    grid-area: article;
    background-color: rgb(255, 154, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    grid-area: aside;
    background-color: rgb(139, 199, 255);
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    
}

footer {
    grid-area: footer;
    background-color: rgb(228, 64, 228);
    display: flex;
    align-items: center;
    justify-content: center;
}
